:root{
  --bg-color: #000000;
  --fg-color: #F2F4F3;
  --border-color: #F2F4F3;
}

body{
  background-color: var(--bg-color);
}
.container{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input{
  color: var(--fg-color);
  outline: none;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  font-size: 20px;
  padding: 10px;
  width: 250px;
  margin-bottom: 40px;
  border-radius: 10px;
}
.btn{
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bg-color);
  color: var(--fg-color);
  margin-left: 10px;
  border: 2px solid var(--border-color);

}
.listItems{
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--fg-color);
  font-size: 20px;
}
.item{
  border-radius: 10px;
  border: 2px solid var(--border-color);
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 80%;
}
.deleteBtn{
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 5px;
}
.deleteBtn:hover{
  background-color: #ffffff51;
  padding: 2px 4px;
}
